.size {
    width: 10em;
    height: 10em;
}
.DX {
    width: 10em;
    height: 10em;
    margin: 1em;
    padding-top: 2em;
    animation-name: slidein;
    animation-duration: 3.5s;
}

@keyframes slidein {
    0% {fill:red; opacity: 0;}
    50% {fill: greenyellow; opacity: 0,5;}
    100% {fill:black; opacity: 1;}
}
